.h1-todo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 300%;
  text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 70px blue, 0 0 40px blue, 0 0 50px blue, 0 0 80px blue;
  color: rgb(255, 255, 255);
}

.a-nbar {
  font-size: x-large;
  margin-left: 1cm;
  color: black;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.a-nbar a {
  text-decoration: none;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2cm;
}
.main-index .h2-index {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: azure;
  text-shadow: 5px 5px 5px blue;
  padding-left: 1cm;
}
.main-index .p-index {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  color: azure;
  margin-bottom: 3cm;
  text-shadow: 5px 5px 5px black;
  padding-left: 10px;
}
.main-index .a-index-maps {
  color: violet;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-image: url(../img/bk\ new.jpg);
  background-size: cover;
}

main .presentacion-gym {
  margin-top: 1cm;
  border-radius: 30px;
}
main .h2-nosotros {
  font-size: 50px;
  padding-left: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: azure;
  text-shadow: 5px 5px 5px black;
  padding-left: 1cm;
}
main .sobre-nosotros {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: azure;
  text-shadow: 5px 5px 5px black;
  padding-left: 10px;
}

.img-sns {
  margin-top: 2cm;
}

.h2-suplementos {
  font-size: xx-large;
  padding-left: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: azure;
  text-shadow: 5px 5px 5px black;
}

.a-suplementos {
  font-size: xx-large;
  padding-left: 10px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 0, 255);
}

.dc {
  padding-left: 5px;
}

.h2-nosotros {
  padding-top: 1cm;
}

.h2-jesain {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  color: azure;
  margin-top: 5cm;
  text-shadow: 5px 5px 5px black;
}

.p-jesain {
  color: azure;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 2px 2px 2px red;
}

.p-jesain2 {
  color: azure;
  font-size: x-large;
  text-shadow: 5px 5px 5px black;
}

.comp {
  margin-top: 1cm;
  width: 15cm;
  height: 15cm;
  border-radius: 20px;
}

.animacion:hover {
  transform: translateX(300px);
  transition: all 2s;
}

footer h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  padding-left: 15px;
  color: azure;
  background-color: blue;
  margin-top: 5cm;
}

footer li {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  padding-left: 15px;
  color: azure;
}

footer a {
  color: rgb(153, 0, 255);
}

/*# sourceMappingURL=style.css.map */
