//variables 
$colortext: azure;
$fontfamily: 'Times New Roman', Times, serif;
//partial de mi nvbar
@import './componentes/nvar';
body
     {background-image: url(../img/bk\ new.jpg);
     background-size: cover;}                   
//INDEX
  .main-index
         { display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           margin-top: 2cm; 
            
             .h2-index
                 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                   font-size: 50px;
                   color: $colortext;
                   text-shadow: 5px 5px 5px blue; padding-left: 1cm;}
            
                  .p-index
                       { font-size: xx-large;
                       font-family: $fontfamily;
                      color:$colortext;
                      margin-bottom: 3cm;
                       text-shadow: 5px 5px 5px black;padding-left: 10px;}
                       .a-index-maps
                       {color: violet;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}      }
//SOBRE NOSOTROS
   main
       {
          .presentacion-gym    
         {margin-top: 1cm;

          border-radius: 30px;}
         .h2-nosotros
           { font-size: 50px; padding-left: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: $colortext;
            text-shadow: 5px 5px 5px black; padding-left: 1cm;}
         .sobre-nosotros
           {font-size: x-large;
            font-family: $fontfamily;
            color:$colortext;
            text-shadow: 5px 5px 5px black;
            padding-left: 10px;} }
//SUPLEMENTOS                  
     .img-sns
         {margin-top: 2cm;}
     .h2-suplementos{
         font-size: xx-large; padding-left: 10px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         color: $colortext;
         text-shadow: 5px 5px 5px black;}
     p.suplementos{
         font-family: $fontfamily;
         font-size: xx-large; padding-left: 10px;
         color:$colortext;
         margin-top: 3cm;}
     .a-suplementos{
         font-size: xx-large; padding-left: 10px;
         font-family: $fontfamily;
         color: rgb(255, 0, 255);}
     .carru1
         { width: 100%;
           height: 500px; 
           object-fit: cover;}
//COPETIDORES Y AFICIONADOS/COFEE AND FOODS
     .h2-nosotros{padding-top: 1cm;}                      
     .h2-jesain{
            font-size: xx-large;
            font-family: $fontfamily;
            color: $colortext;
            margin-top: 5cm;
            text-shadow: 5px 5px 5px black;}            
     .p-jesain{
            color: $colortext;
            font-size: xx-large;
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
             text-shadow: 2px 2px 2px red;}
     .p-jesain2{
             color: $colortext;
             font-size: x-large;
             text-shadow: 5px 5px 5px black;}
     .comp
             {margin-top: 1cm;
               width:15cm;height: 15cm;border-radius: 20px;}
     .animacion:hover
             {transform:translateX(300px) ;
               transition: all 2s;}       
//FOOTERS 
     footer h3{
         font-family: $fontfamily;
         font-size: x-large;padding-left: 15px;
         color:$colortext;
         background-color: blue;
         margin-top: 5cm;}
     footer li{
          font-family: $fontfamily;
          font-size: x-large; padding-left: 15px;
          color: $colortext;}
    footer a{
          color: rgb(153, 0, 255);}           


           
