//variables 
$colortext: azure;
$fontfamily: 'Times New Roman', Times, serif;
//partial de mi nvbar
@import './componentes/nvar';
@import './componentes/index';
body
     {background-image: url(../img/bk\ new.jpg);
     background-size: cover;}                   
//SOBRE NOSOTROS
   main
       {
          .presentacion-gym    
         {margin-top: 1cm;

          border-radius: 30px;}
         .h2-nosotros
           { font-size: 50px; padding-left: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: $colortext;
            text-shadow: 5px 5px 5px black; padding-left: 1cm;}
         .sobre-nosotros
           {font-size: x-large;
            font-family: $fontfamily;
            color:$colortext;
            text-shadow: 5px 5px 5px black;
            padding-left: 10px;} }
//SUPLEMENTOS                  
     .img-sns
         {margin-top: 2cm;}
     .h2-suplementos{
         font-size: xx-large; padding-left: 10px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         color: $colortext;
         text-shadow: 5px 5px 5px black;}
     .a-suplementos{
         font-size: xx-large; padding-left: 10px;
         font-family: $fontfamily;
         color: rgb(255, 0, 255);}
        .dc{padding-left: 5px;}
//COPETIDORES Y AFICIONADOS/COFEE AND FOODS
     .h2-nosotros{padding-top: 1cm;}                      
     .h2-jesain{
            font-size: xx-large;
            font-family: $fontfamily;
            color: $colortext;
            margin-top: 5cm;
            text-shadow: 5px 5px 5px black;}            
     .p-jesain{
            color: $colortext;
            font-size: xx-large;
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
             text-shadow: 2px 2px 2px red;}
     .p-jesain2{
             color: $colortext;
             font-size: x-large;
             text-shadow: 5px 5px 5px black;}
     .comp
             {margin-top: 1cm;
               width:15cm;height: 15cm;border-radius: 20px;}
     .animacion:hover
             {transform:translateX(300px) ;
               transition: all 2s;}       
//FOOTERS 
     footer h3{
         font-family: $fontfamily;
         font-size: x-large;padding-left: 15px;
         color:$colortext;
         background-color: blue;
         margin-top: 5cm;}
     footer li{
          font-family: $fontfamily;
          font-size: x-large; padding-left: 15px;
          color: $colortext;}
    footer a{
          color: rgb(153, 0, 255);}           


           
