.h1-todo
         {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            
             font-size: 300%;
             
                text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 70px blue, 0 0 40px blue, 0 0 50px blue, 0 0 80px blue;
                color: rgb(255, 255, 255);}              
  .a-nbar
         {font-size: x-large;
             margin-left: 1cm;
                 color: black;
                 text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

                 a{text-decoration: none;}      }